*{box-sizing:border-box;
    margin: 0;
    padding: 0;}

.main-contact{min-width: 310px;
    margin: 5px;}

.header-contact, .date-contact {
    background-color: black;
    color: blanchedalmond;
}

.header-contact h2, span{
    font-size: 20px;
    margin: 2px 10px;
    height: 35px;}

.header-contact span {font-size: 45px;}

.icons {grid-template-columns: 50% 50%;
    display: grid;}

.form-contact {font-size: 15px;}

.date-contact h3{margin: -1px 0px;
    font-size: 16px ;}
/* ---------------------------------------------------------------------------------------- */
@media screen and (min-width: 360px){
.body-contact {text-align: -webkit-center;}

.main-contact{text-align-last: left;
    max-width: 380px;} 

/* .home-icon {margin-left: 242px;} */

.date-contact h3{font-size: 15px;}
}
/* --------------------------------------------------------------------------------- */
/* @media screen and (min-width: 770px){
.main-contact {
    display: flex;
}
.main-contact{
    max-width: 800px;} 

.form-contact{margin: 5px;
    width: 70%;}

.date-contact{min-inline-size: fit-content;}
.date-contact h3{margin-top: 10px;}
} */