*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;}

  .footer-main{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0rem 2rem -10px 2rem;
    color: blanchedalmond;
    background-color:black;}

.footer-li li{
    display: flex;
    margin: 2rem;
    font-size: 12px;
    list-style: none;
}

.footer-main p{font-size: 10px;}

.brand{display: block;
    margin-top: 1.5rem;
    margin-left: 2rem;}

.brand h1, p {font-size: 26px;
    text-align: left;}

.brand span {font-size: 38px;}

.copyright {background: goldenrod;
    margin: 0px 20px !important;
   font-size: 20px;
    text-align-last: center;}